<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add Comment</title>
</head>
<div align="center">
    <body>
    <h1>Створення коментаря:</h1>

        <form th:action="@{/comment/__${comment.topic.id}__}"
              th:object="${comment}" method="POST">
            Назва топіка:
            <div th:text="${comment.topic.name}">
            </div>
            Коментар:
            <input type="text" th:field="*{description}"/>

            <a th:href="@{/comment/__${comment.topic.id}__}"></a>

            <input type="submit" value="Створити"/>

        </form>

        <br/>
    </body>
</div>
