<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit theme</title>
</head>
<body>

<div class="container my-5">
    <div align="center">
        <h1>Редагування теми</h1>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/theme}" th:object="${theme}"
                          method="post">
                        <div class="row">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control input-lg"
                                       placeholder="Name" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="description" id="description" class="form-control input-lg"
                                       placeholder="Description" required="true" autofocus="true"/>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Підвердити ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
