<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Theme's page</title>
</head>

<div align="center">
    <h1>Виберіть цікаву тему:</h1>

    <table border="2" cellpadding="5">
        <thead>
        <th>Найменування теми</th>
        <th>Опис теми</th>
        <th>Редагування</th>
        <th>Видалення</th>
        <th>Вибрати</th>
        </thead>

        <tbody>

        <tr th:if="${themes.isEmpty()}">
            <td colspan="2"> Немає створених тем</td>
        </tr>

        <tr th:each="t : ${themes}">
            <td th:text="${t.name}"></td>

            <td th:text="${t.description}"></td>
            <td>
                <form th:action="@{/theme/__${t.id}__/edit}" method="get" class="btn btn-danger">
                    <button>Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/theme/__${t.id}__/delete}" method="get" class="btn btn-danger">
                    <button>Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/theme/__${t.id}__/topic}" method="get" class="btn btn-danger">
                    <button>Go</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
    <th>

    </th>
    <tr>
        <form th:action="@{/theme/new}" method="get" class="btn btn-danger">
            <button>Додати тему</button>
        </form>
    </tr>

    <span style="color:red" th:text="${error != null} ? ${error}"></span>
</div>

</body>
</html>


