<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topic's page</title>
</head>
<div align="center">
    <table border="2" cellpadding="5">
        <thead>
        <th>Найменування топіка</th>
        </thead>

        <tbody>

        <h th:text="${themeId}"></h>
        <tr th:if="${topics.isEmpty()}">
            <td colspan="2"> Немає створених топіків</td>
        </tr>

        <tr th:each="t : ${topics}">
            <td th:text="${t.name}"></td>

            <td>
                <a th:href="@{/topic/topic/__${t.id}__}" class="btn btn-danger">Перейти до обговорення</a>
            </td>
        </tr>
        <a th:href="@{/topic/addTopic/__${themeId}__}" class="btn btn-danger">Додати топік</a>
<!--        <input type="button" th:href="@{/topic/addTopic/__${themeId}__}" value="Додати топік"/>-->


        </tbody>
    </table>
</div>

</body>
</html>


