<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Theme</title>
</head>
<div align="center">
    <body>
    <h1>Створення топіка:</h1>

    <form th:action="@{/topic/__${topic.theme.id}__}"
          th:object="${topic}" method="POST">
        Тема:
        <div th:text="${topic.theme.name}">
        </div>

        Ім'я:
        <input type="text" th:field="*{name}"/>
        <br/>
        Опис:
        <input type="text" th:field="*{description}"/>

        <a th:href="@{/topic/__${topic.theme.id}__}"></a>
<!--        <input type="text" th:field="*{getTheme()}"/>-->

        <input type="submit" value="Create"/>

    </form>

    <br/>
    </body>
</div>
